@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --clr-primary: #f96614;
        --clr-secondary: #f68749; 
        --clr-drk-secondary: #19376d;
        --clr-dark-blue: #0b2447;
        --clr-main-bg: #04152d;
        --LinkHoverClr: #ed5f10;
        --global-1: #FFF7EE;
        --global-2: #E3E3E3;
        --grad-1: linear-gradient(30deg, #FF5B00 29%, #F68749 81%);
        --grad-2: linear-gradient(55deg, var(--clr-primary), var(--clr-secondary));
        --grad-3: linear-gradient(90deg, var(--clr-secondary), var(--clr-primary));     
        --grad-4: linear-gradient(45deg, rgba(0, 0, 0, 0.8), transparent);     

        --ff-catamaran: "Catamaran", serif;
        --ff-outfit: "Outfit", serif;
        

        --fs-16: 1rem;
        --fs-20: 1.25rem;
    }
}

*{
    box-sizing: border-box !important;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: var(--ff-outfit);
    font-size: var(--fs-20);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--ff-catamaran);
    text-wrap: balance;

    span{
        background-image: var(--grad-3);
        color: transparent;
        background-clip: text;    
    }
}
p {
    font-family: var(--ff-outfit);
    text-wrap: balance;
}

img{
    display: block;
    height: auto;
    max-width: 100%;
}

::placeholder{
    text-transform: capitalize;
}

.texto {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-radius: 10px 10px 10px 0px;
}

@layer components{

    button{
        @apply py-3 px-0 mx-0 rounded-full bg-secondary bg-[image:var(--grad-3)]
    }
    button a{
        @apply px-6 py-3 rounded-full text-xl
    }

    .headingBody{
        @apply flex flex-col gap-y-4
    }
    .headingBody h4{
        @apply font-outfit text-base text-primary uppercase font-bold
    }
    .headingBody h2{
        @apply font-catamaran text-4xl text-main-bg capitalize font-bold
    }
    .headingBody p{
        @apply text-gray-500
    }

    #menunavLinks > li{
        @apply w-full p-3 pb-1 border-b-2 border-transparent duration-300 
    }
    #menunavLinks > li{
        @apply hover:border-white
    }
    #menunavLinks li a{
        @apply min-w-full p-3 pb-1
    }
    #menunavLinks{
        @apply fixed top-20 right-10 z-50
    }

    #hero #heroImgBlock > figure{
        @apply bg-secondary relative outline-dashed outline-4  outline-offset-8 outline-primary rounded-full
    }

    #aboutContent #abtCounter .countCard h2{
        @apply text-5xl font-bold text-main-bg
    }
    #aboutContent #abtCounter .countCard div{
        @apply font-outfit text-main-bg font-semibold text-lg capitalize 
    }
    #aboutContent #aboutCardContent img{
        @apply object-contain size-16 mr-3
    }
    #aboutContent #aboutCardContent span{
        @apply font-outfit text-main-bg text-lg capitalize 
    }

    form input{
        @apply w-full px-6 py-4 mb-5 text-main-bg rounded-2xl shadow-sm border-2 border-orange-200
    }
    form textarea{
        @apply w-full h-36 px-6 py-4 mb-5 text-main-bg rounded-2xl shadow-md border-2 border-orange-200
    }

}
#hero{
    height: calc(100% - 116px);
}
#hero #heroImgBlock > figure::after{
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 9999px;
    outline: 4px solid var(--clr-primary);
    outline-offset: 8px;

    position: absolute;
    inset: 0;

    animation: ripple 1.5s linear infinite;
}

@keyframes ripple{
    from {opacity: 0.90;}
    to {opacity: 0.5; transform: scale(1.1);}
}

.heroOverlay{
    height: 18vw;
    width: 36vw;
    min-height: 250px;
    min-width: 250px;
    border: 764px;
    background-color: var(--clr-drk-secondary);
    filter: blur(100px);
    position: absolute;
    top: 20%;
    left: -20%;
    z-index: -1;
}

.heroOverlay2{
    top: 50%;
    left: 65% !important;
}

/* experience & skills */
.h-after{
    position: relative;

    h4{
        z-index: 1;
    }
}
.h-after::after{
    content: "";
    height: 100%;
    width: auto;
    background-color: var(--clr-secondary);
    background-image: var(--grad-2);
    aspect-ratio: 1/1;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

/* works */

.workShad::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 30px;
    top: 44px;
    right: 43px;
    z-index: 1 !important;
    -webkit-box-shadow: inset -10px 10px 0px 0px var(--clr-main-bg);
    box-shadow: inset -10px 10px 0px 0px var(--clr-main-bg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.curvedShad{
    z-index: 3 !important;
}
.curvedShad::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--clr-primary);
    border-radius: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.curvedShad::before{
    content: "";
    height: 122%;
    width: 120%;
    background-color: var(--clr-main-bg);
    border-radius: 10px 0px 10px 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -2;
}


/* ========================================================================================= */
/* review ================================================================================== */

#review{
    background-image: url(./assets/pattern-faq-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

/* ========================================================================================= */
/* footer ================================================================================== */

.footHead{
    color: #fff;
    text-shadow: 5px 2px 2px #000;
}

#footMenuBody{
    background-image: url("./assets/Footer-BG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: border-box;
}


/* -======================================================================================= */
/*  swiper -======================================================================================= */

#mySwiper.swiper {
    width: 100%;
    height: 100%;
    background-color: var(--clr-primary);
    background-image: var(--grad-3);
}
#mySwiper .swiper-slide {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    width: max-content;
    padding: 1.5rem 0px;
    vertical-align: middle;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
#mySwiper .swiper-wrapper{
    transition-timing-function: linear !important;
}
.skillSwiCard:hover h3{
    color: var(--clr-secondary);
}



.reviewSwip .swiper-slide {
  background-position: center;
  background-size: cover;
  /* width: 300px;
  height: 300px; */
}
.reviewSwip .swiper-slide img {
  display: block;
  /* width: 100%; */
  object-fit: cover;
  z-index: 1;
}

#revswip .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#revswip .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  

  